# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
game-pulse.UI/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/game-pulse.UI/.next/
/game-pulse.UI/out/

# production
game-pulse.UI/build

# misc
.DS_Store
*.pem
game-pulse.API/.vs

# debug
game-pulse.UI/npm-debug.log*
game-pulse.UI/yarn-debug.log*
game-pulse.UI/yarn-error.log*
game-pulse.UI/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
game-pulse.UI/.env*

# vercel
game-pulse.UI/.vercel

# typescript
game-pulse.UI/*.tsbuildinfo
game-pulse.UI/next-env.d.ts

# bin
game-pulse.API/bin
game-pulse.API/debug