@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
  --bg-gradient-jet: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 3%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  --bg-gradient-yellow1: linear-gradient(to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50%);
  --bg-gradient-yellow2: linear-gradient(135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
  --text-gradient-yellow: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black1: hsl(240, 2%, 13%);
  --eerie-black2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white1: hsl(0, 0%, 100%);
  --white2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  --ff-poppins: "Poppins", sans-serif;

  --fs1: 24px;
  --fs2: 18px;
  --fs3: 17px;
  --fs4: 16px;
  --fs5: 15px;
  --fs6: 14px;
  --fs7: 13px;
  --fs8: 12px;

  --fw300: 300;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;

  --shadow1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow2: 0px 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow3: 0px 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow4: 0px 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow5: 0px 24px 80px hsla(0, 0%, 0%, 0.25);

  --transition1: 0.25s ease;
  --transition2: 0.5s ease-in-out;

  // animation: fade 0.5s ease backwards;
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 20px;
}

/*ASIDE - SIDEBAR*/

.sidebar {
  background: var(--eerie-black2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  box-shadow: var(--shadow1);
  z-index: 1;
  padding: 15px;
  max-height: 405px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: var(--transition2);
}

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.info-content .name {
  color: var(--white2);
  font-size: var(--fs3);
  font-weight: var(--fw500);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}

.info-content .title {
  color: var(--white1);
  background: var(--onyx);
  font-size: var(--fs8);
  font-weight: var(--fw300);
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

.contact-info :is(.contact-link, time, address) {
  color: var(--white2);
  font-size: var(--fs7);
}

.contact-info address {
  font-style: normal;
}

.contact-title {
  color: var(--light-gray70);
  font-size: var(--fs8);
  text-transform: uppercase;
  margin-bottom: 2px;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black1);
  border-radius: inherit;
  z-index: -1;
}


// MainContent

/*MEDIA QUERIES*/

@media (min-width: 580px) {
  .sidebar {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
    max-height: 584px;
    margin-bottom: 30px;
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }

  .sidebar-info {
    gap: 25px;
  }

  .avatar-box {
    border-radius: 30px;
  }
  .avatar-box img {
    width: 120px;
  }

  .info-content .name {
    margin-bottom: 15px;
  }
  .info-content .title {
    padding: 5px 10px;
  }

  .separator {
    margin: 32px 0;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 30%;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 100px;
  }

  .contacts-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 30%;
    box-shadow: var(--shadow5);
  }
}

@media (min-width: 1250px) {
  body::-webkit-scrollbar {
    width: 20px;
  }
  body::-webkit-scrollbar-track {
    background: var(--smoky-black);
  }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11), inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }
  body::-webkit-scrollbar-button {
    height: 60px;
  }

  .sidebar {
    width: 30%;
    position: sticky;
    top: 60px;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebar-info {
    flex-direction: column;
  }

  .avatar-box img {
    width: 150px;
  }

  .info-content .name {
    white-space: nowrap;
    text-align: center;
  }

  .info-content .title {
    margin: auto;
  }

  .contacts-list {
    grid-template-columns: 1fr;
  }

  .contact-info :is(.contact-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-info :is(.contact-link, time, address) {
    --fs7: 14px;
    font-weight: var(--fw300);
  }

  .separator:last-of-type {
    margin: 15px 0;
    opacity: 0;
  }
}
