table {
  /* position relative to include a band on the left of the container */
  margin: 0rem 1rem;
  position: relative;
  /* cap the width of the table, allowing for a sizeable portion of white space if allowed by the viewport */
  width: calc(90vw - 2rem);
  max-width: 800px;
  /* spacing to separate the table rows vertically */
  border-spacing: 0 1rem;
}
table:before {
  position: absolute;
  content: "";
  right: calc(100% + 1rem);
  top: 0;
  height: 100%;
  width: 1.5rem;
  border-radius: 5px;
  border: 1px solid #38383f;
  background: repeating-linear-gradient(-45deg, #15151e 0px, #15151e 4px, #38383f 4px, #38383f 8px);
}
table tr > * {
  text-align: center;
  padding: 0.5rem;
}
table tr > *:nth-child(2) {
  text-align: left;
}

table th {
  font-weight: 300;
  letter-spacing: 0.04rem;
  font-size: 0.6rem;
  color: #eee;
  text-transform: uppercase;
}

table td.position {
  font-weight: 500;
}

table td.row {
  padding-left: 1rem;
  letter-spacing: 0.05rem;
}
table td.row strong {
  text-transform: uppercase;
  font-weight: 500;
}
table td.row span {
  text-transform: capitalize;
  margin-left: 0.5rem;
  color: #999;
  letter-spacing: initial;
}

table td.score span {
  background: #38383f;
  border-radius: 30px;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  table tr > *:nth-child(3) {
    display: none;
  }
}
